body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

img {
	border: 0;
}

h1, h2, #networks, #footer {
	text-align: center;
}

@media only screen and (min-width: 992px) {
    #home {
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 28px;
        border-color: black;
        border-style: solid;
        border-width: thick;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;
    }
}
